@font-face {
  font-family: "Whyte";
  src: url("Whyte-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  src: url("Whyte-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Whyte Inktrap Super";
  src: url("WhyteInktrap-Super.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
